@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger">
        <i class="bi bi-exclamation-circle me-2"></i><span>Please fix the issues below:</span>
    </div>
}
